@model List<SoporteTecnico.Web.Models.ProductoModel>
@{
    ViewBag.Title = "Index";
}

<h2>Nuestros Servicios</h2>

@foreach (var servicio in Model)
{
    <p>@servicio.Id @servicio.Descripcion</p>
}